i {
    margin: auto 0;
}

li a:hover {
    text-decoration: underline;
}
/* .link:hover {
    text-decoration: underline;
} */
.grid {
    width: 1280px;
    margin: 0 auto;
}

.sub_header {
    display: flex;
}

.header_left, .header_center, .header_right {
    flex: 1;
}

.header_right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header_right ul li {
    margin: 0 5px 0 5px;
    font-size: small;
}

.header_right ul li a:hover {
    text-shadow: 0 1px 1px black;
}


nav ul li{
    font-size: large;
    font-weight: 500;
    margin: 0 5px 0 5px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Search bar */
.search_bar input{
    border-radius: 50px;
    padding: 5px 5px 5px 10px;
    display: flex;
    justify-content: end;
}

.fav {
    margin: 0 10px 0 10px;
}

/* .prev i, .next i{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
} */

.controler {
    .prev i, .next i{
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
    }

    .prev {
        margin: 0 5px 0 5px;
    }
}

.card:nth-child(2) {
    margin: 0 10px 0 10px;
}


.social_media i{
    border-radius: 50px;
    padding: 10px;
    background-color: #7E7E7E;
    text-align: center;
    min-width: 35px;
}

.social_media i:hover {
    cursor: pointer;
}


.sub_footer {
    .sub_footer_left .location {
        margin: 0 10px 0 0;

        .icon {
            margin: 0 10px;
        }
        
    }

    .sub_footer_right ul li{
        margin: 0 10px;
    }
}

.box_group {
    display: flex;
    
}

.box_left {
    flex: 2;
}

.box_right {
    flex: 1;
    text-align: left;
}

.sizes .row button {
    border: 1px solid #b7b7b7;
    min-width: 100px;
    text-align: center;
    padding: 5px 0;
}


.btn_group {
    display: flex;
    flex-direction: column;

    .add, .fav {
        flex: 1;
        text-align: center;
        border-radius: 50px;
        margin: 5px 0 5px 0;
        padding: 15px 0;
    }

    .add {
        background-color: black;
        color: white;
        
    }

    .fav {
        border: 1px solid black;
        
    }

    .add:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        transition: ease-in-out 0.5s;
    }

    .fav:hover {
        background-color: black;
        color: white;
        transition: ease-in-out 0.5s;
    }
}
